name: Promote to Test (RC Release)

on:
  workflow_dispatch:
    inputs:
      version:
        description: "Version to promote (e.g., 1.0.0)"
        required: true

permissions:
  contents: write
  issues: write
  pull-requests: write

jobs:
  report-version:
    runs-on: ubuntu-latest
    steps:
      - name: Show release version
        run: |
          echo "Release version: ${{ github.event.inputs.version }}"
          echo "Create the pull request to update the image tag in values-test.yaml in CD Repo"
