name: Promote to Test (RC Release)

on:
  workflow_dispatch:
    inputs:
      version:
        description: "Version to promote (e.g., 1.0.0)"
        required: true

permissions:
  contents: write
  issues: write
  pull-requests: write

jobs:
  update-values-test-yaml:
    runs-on: ubuntu-latest
    steps:
      - name: update-values-test-yaml
        run: |
          echo "The image tag to be updated to: ${{ github.event.inputs.version }}"

  create-pr-to-cd-repo:
    runs-on: ubuntu-latest
    needs: update-values-test-yaml
    steps:
      - name: create-pr-to-cd-repo
        run: |
          echo "Create the pull request to update the image tag in values-test.yaml in CD Repo"
