name: Release to Prod (Stable Release)

on:
  workflow_dispatch:
    inputs:
      version:
        description: "Version to promote (e.g., 1.0.0)"
        required: true

permissions:
  contents: write
  issues: write
  pull-requests: write

jobs:
  update-values-prod-yaml:
    runs-on: ubuntu-latest
    steps:
      - name: update-values-prod-yaml
        run: |
          echo "The image tag to be updated to: ${{ github.event.inputs.version }}

  create-pr-to-cd-repo:
    runs-on: ubuntu-latest
    needs: update-values-prod-yaml
    steps:
      - name: create-pr-to-cd-repo
        run: |
          echo "Create the pull request to update the image tag in values-prod.yaml in CD Repo"
